.container-fluid{
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background: dodgerblue;
    color: white;
    .container{

        li{
            a{
                color: white;
            }
        }
    }
    &-nav li a:hover{
        color: dodgerblue !important;
    }
}

.footer{

position: absolute;
text-align: center;
bottom: 0;
width: 100%;
height: 60px;
background-color:  dodgerblue;

    & p{
        margin-top: 25px;
        font-size: 12px;
        color: #fff;
    }

    &-padding{
        padding-bottom: 60px;
    }

}

